.product-list {
    display: flex;
    flex-direction: column;
}
.product-list > * {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.product-list > *:hover {
    background-color: antiquewhite;
}

